<!DOCTYPE HTML>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Furnilux</title>

    <!-- Vue CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <!-- Tailwindcss CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <style>
    body {
      background-color: #1f2937;
    }
  </style>
  <body>
    <div id="app">
      <nav
        class="flex justify-between bg-[#29374a] px-10 py-4 mb-8 text-white"
      >
        <h1 class="text-center font-bold text-2xl opacity-80">Furnilux</h1>
        <ul class="md:flex items-center space-x-10">
          <div class="flex space-x-5">
            <li class="flex items-center" @click="cekCart()">
              <button type="button" class="relative inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-[20px] h-[20px] mr-4" fill="white" viewBox="0 0 576 512"><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
                Cart
                <div class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900">{{totalBarang}}</div>
              </button>
            </li>
            <li class="flex items-center" @click="clearCart()">
              <button type="button" class="relative inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                Clear
              </button>
            </li>
          </div>
        </ul>
      </nav>

      <div class="relative overflow-x-auto rounded-md">
      <form class="px-8 max-w-md mx-auto mb-6">   
          <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
          <div class="relative">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                  <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                  </svg>
              </div>
              <input type="search" v-model="search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Cari Barang..." required />
          </div>
      </form>

      <div class="overflow-x-auto">
        <table
          class="table-auto w-[90%] mx-auto mt-4 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 rounded-md text-lg"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th scope="col" class="px-6 py-3">Gambar Produk</th>
              <th scope="col" class="px-6 py-3">Nama Produk</th>
              <th scope="col" class="px-6 py-3">Harga</th>
              <th scope="col" class="px-6 py-3 text-center">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="products in filteredItems"
              :key="products.id"
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
            >
              <td class="px-6 py-4">
                <img v-bind:src="products.gambar" height="50px" width="100px" />
              </td>
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                {{products.name}}
              </th>
              <td class="px-2 py-2">{{products.price | currency}}</td>
              <td class="px-2 py-2 text-center">
                <button
                  @click="lihatProduk(products.id, products.gambar, products.name, products.price, products.description)"
                  class="focus:outline-none text-white mx-auto  bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >Lihat</button>
                <button
                  @click="tambahKeranjang(products)"
                  class="focus:outline-none text-white mx-auto  bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
                >Keranjang</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <footer class="mt-12 w-full bg-[#29374a] p-4 text-white">
        <h1 class="text-center text-sm opacity-80">Furnilux © 2024</h1>
      </footer>

    </div>
  </div>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
      Vue.filter('currency', function (value) {
        if (!value) return ''
        return new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(value)
      });
      var app = new Vue({
        el: "#app",
        data: {
          keranjang: 0,
          search: '',
          listKeranjang: [],
          totalBarang: localStorage.getItem('totalBarang') || 0,
          product: [
            {
              id: 1,
              gambar:
                "assets/kasur.png",
              name: "Kasur",
              price: 800000,
              description: "Rasakan tidur yang nyaman dengan kasur berkualitas tinggi ini. Dibuat dengan bahan yang berkualitas untuk memberikan dukungan yang tepat dan tidur yang nyenyak setiap malam."
            },
            {
              id: 2,
              gambar:
                "assets/kursi.png",
              name: "Kursi",
              price: 300000,
              description: "Hadirkan kenyamanan maksimal ke ruang tamu atau kantor Anda dengan kursi ergonomis ini. Dirancang dengan perhatian pada detail untuk memberikan dukungan yang optimal dan gaya yang menawan."
            },
            {
              id: 3,
              gambar:
                "assets/lemari_belajar.png",
              name: "Lemari Belajar",
              price: 700000,
              description: "Tingkatkan pengalaman belajar Anda dengan lemari belajar ini. Dilengkapi dengan rak dan laci yang cukup untuk menyimpan buku, alat tulis, dan perlengkapan belajar lainnya dengan rapi."
            },
            {
              id: 4,
              gambar:
                "assets/lemari.png",
              name: "Lemari",
              price: 600000,
              description: "Tambahkan sentuhan elegan ke ruang Anda dengan lemari ini. Didesain dengan desain yang klasik dan fungsional, lemari ini ideal untuk menyimpan pakaian dan barang-barang lainnya dengan teratur."
            },
            {
              id: 5,
              gambar:
                "assets/sofa.png",
              name: "Sofa",
              price: 550000,
              description: "Ciptakan suasana yang hangat dan nyaman di ruang keluarga atau ruang tamu Anda dengan sofa ini. Dibuat dengan bahan berkualitas dan desain yang stylish, sofa ini akan menjadi pusat perhatian dalam ruangan."
            },
          ],
        },
        methods: {
          tambahKeranjang(product) {
            const Toast = Swal.mixin({
              toast: true,
              position: "top",
              showConfirmButton: false,
              timer: 500,
              timerProgressBar: true,
              didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
              }
            });
            Toast.fire({
              icon: "success",
              title: "Barang berhasil ditambahkan"
            });
            const existingProduct = this.listKeranjang.find(item => item.id === product.id);

            if (existingProduct) {
              existingProduct.quantity++;
            } else {
              this.listKeranjang.push({
                id: product.id,
                name: product.name,
                price: product.price,
                quantity: 1,
                gambar: product.gambar,
                description: product.description
              });
            }

            localStorage.setItem('totalBarang', this.totalBarang += 1);
            localStorage.setItem('listKeranjang', JSON.stringify(this.listKeranjang));
          },
          clearCart() {
            Swal.fire({
              title: "Hapus keranjang?",
              text: "Apakah kamu mau menghapus semua barang yang ada di keranjang?",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Ya, hapus"
            }).then((result) => {
              if (result.isConfirmed) {
                Swal.fire({
                  title: "Success",
                  text: "Keranjang berhasil dihapus silahkan masukan barang lainnya 😊",
                  icon: "success",
                });
                localStorage.removeItem('listKeranjang');
                localStorage.removeItem('totalBarang');
                this.keranjang = 0;
                this.totalBarang = 0;
                this.listKeranjang = []
              }
            });
          },
          cekCart() {
            window.location = "cart.html";
          },
          lihatProduk(id, gambar, name, price, description) {
            window.location = "product.html?id=" + id + "&gambar=" + gambar + "&name=" + name + "&price=" + price + "&desc=" + description
          }
        },
        computed: {
          filteredItems: function() {
            var self = this;
            return this.product.filter(function(item) {
            return item.name.toLowerCase().indexOf(self.search.toLowerCase()) !== -1;
          });
          }
        },
      });

      tailwind.config = {
        content: ["./*.html"],
        darkMode: "class"
      };
    });

    </script>
  </body>
</html>
